<% include partials/header %>
<% include partials/navbar %>

<div class="col-sm-6 mx-auto text-center text-primary p-2">
  <h2 class="pb-5">Sign In</h2>

  <a href="/login" id="login-button" class="btn btn-outline-dark"><i class="fab fa-github"></i> Login
    With Github</a>
</div>

<% include partials/footer %>