<% include partials/header %>
<% include partials/navbar %>

<div class="container">
    <% repos.forEach(repo => { %>
    <div class="card spec p-2">
        <div class="row">
            <div class="col-md-8">
                <strong>
                    <%= repo.name %></strong>:
                <%= repo.description %>
            </div>

            <div class="col-md-2">
                <span class="badge badge-success">Stars:
                    <%= repo.stargazers_count %></span>
            </div>

            <div class="col-md-2">
                <a href="<%= repo.html_url %>" target="_blank" class="btn btn-info">Repo Page</a>
            </div>
        </div>
    </div>
    <% }); %>
</div>
</div>

<% include partials/footer %>